export GITHUB_CRED="-u <github userid:api token>" 
export BW_CLIENTID=<your client id in webvault>
export BW_CLIENTSECRET=<your client secret in webvault>
export BW_PASSWORD=<your bitwarden password>
